<div id="homeH5">
    <H5header></H5header>

    <div id="homeH5Content">
        <div id="homeH5Bg">

        <!--<div id="homeH5Slider"></div>-->
        <!--<img src="../../H5img/homeBg1.jpg">   <img src="../../H5img/homeBg2.jpg">  <img src="../../H5img/homeBg3.jpg">-->

        <!--<swipe v-model="index" class="slide" style="height: 93.6em" :time="4000">
            <swipe-item style="height: 93.6em;width:100%" class="slider1"></swipe-item>
            <swipe-item style="height: 93.6em;width:100%" class="slider2"></swipe-item>      
            <swipe-item style="height: 93.6em;width:100%" class="slider3"></swipe-item>
        </swipe>-->

    <div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
            <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
            <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper For Slides -->
        <div class="carousel-innerH5" role="listbox">

            <!-- Third Slide -->
            <div class="item active">

                <!-- Slide Background -->
                <img src="../../H5img/homeBg1.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                <div class="bs-slider-overlay"></div>
                
            </div>
            <!-- End of Slide -->

            <!-- Second Slide -->
            <div class="item">

                <!-- Slide Background -->
                <img src="../../H5img/homeBg2.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                <div class="bs-slider-overlay"></div>
            </div>
            <!-- End of Slide -->

            <!-- Third Slide -->
            <div class="item">

                <!-- Slide Background -->
                <img src="../../H5img/homeBg3.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                <div class="bs-slider-overlay"></div>
            </div>
            <!-- End of Slide -->


        </div><!-- End of Wrapper For Slides -->

        <!-- Left Control  Previous -->
        <!--<a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only"> < </span>
        </a>-->

        <!-- Right Control  Next-->
        <!--<a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only"> > </span>
        </a>-->
        

    </div> <!-- End  bootstrap-touch-slider Slider -->


    
    
            <!--mint UI <mt-swipe :auto="4000">
                <mt-swipe-item><img src="../../H5img/homeBg1.jpg"></mt-swipe-item>
                <mt-swipe-item><img src="../../H5img/homeBg2.jpg"></mt-swipe-item>
                <mt-swipe-item><img src="../../H5img/homeBg3.jpg"></mt-swipe-item>
            </mt-swipe>-->

            <div id="homeH5Word">
                <p class="homeH5Word1">群策群力,颠覆传统!</p>
                <P class="homeH5Word2">颠覆中小型物流企业作坊式经营理念</P>
                <p class="homeH5Word3">做您的海量资源整合商</p>
            </div>

</div>

        <div id="homeH5CspT"></div>
        <!--货准达-->
        <div id="homeH5Csp">
            <div id="homeH5CspWord">
                <p class="homeH5CspWordP"><span class="homeH5CspWord1">货准达</span><span class="homeH5CspWord2">客户服务平台</span></p>
                <p class="homeH5CspWordP2">连接上游货主企业，提供自助下单、订单查看、货物在途跟踪等功能</p>
            </div>
            <div id="homeH5CspImg"><router-link to="/H5Csp"><img src="../../H5img/homeCsp2.png"></router-link></div>
        </div>

        <div id="homeH5CspT"></div>
        <!--智运通-->
        <div id="homeH5Tms">
            <div id="homeH5CspWord">
                <p class="homeH5CspWordP"><span class="homeH5CspWord1">智运通</span><span class="homeH5CspWord2">运输管理平台</span></p>
                <p class="homeH5CspWordP2">内部流程管理、车辆资源整合、财务管理、维护拓展客户网络</p>
            </div>
            <div id="homeH5TmsImg"><router-link to="/H5Tms"><img src="../../H5img/homeTms2.png"></router-link></div>
        </div>

        <div id="homeH5CspT"></div>
        <!--来货拉-->
        <div id="homeH5Ccp">
            <div id="homeH5CspWord">
                <p class="homeH5CspWordP"><span class="homeH5CspWord1">来货拉</span><span class="homeH5CspWord2">车辆交易APP</span></p>
                <p class="homeH5CspWordP2">连接下游司机用户,订单试试推送、在线抢单竞价、在线签收提现</p>
            </div>
            <div id="homeH5CspImg"><router-link to="/H5Ccp"><img src="../../H5img/homeCcp2.png"></router-link></div>
        </div>

        <div id="homeH5CspT"></div>
        <!--底部-->
        <H5bottom></H5bottom>

    </div>

    <div is="H5Wei"></div>

</div>



