 .wscn-http404 {
    position: relative;
    width: 1000px;
    margin: 20px auto ;
    padding: 0 100px;
    overflow: hidden;
}
.pic-404 {
    position: relative;
    float: left;
    width: 600px;
    padding: 200px 0;
    overflow: hidden;
}
.pic-404__parent {
    width: 100%;
}
.pic-404__child {
    position: absolute;
}
.bullshit {
      position: relative;
      float: left;
      width: 300px;
      padding: 280px 0;
      overflow: hidden;
}
.bullshit__oops {
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    color: #1482f0;
    opacity: 0;
    margin-bottom: 20px;
    animation-name: slideUp;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    }
.bullshit__info{
    font-size: 13px;
    line-height: 21px;
    color: grey;
    opacity: 0;
    margin-bottom: 30px;
    animation-name: slideUp;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
.bullshit__return-home{
    display: block;
    float: left;
    width: 110px;
    height: 36px;
    background: #1482f0;
    border-radius: 100px;
    text-align: center;
    color: #ffffff;
    opacity: 0;
    font-size: 14px;
    line-height: 36px;
    cursor: pointer;
    animation-name: slideUp;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}
@keyframes slideUp {
    0% {
        transform: translateY(60px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}