<div id="cspH5">
    <H5header></H5header>

    <div id="cspH5Content">
        <div id="cspH5Top">
            <div class="cspH5Top1">
                <p><span class="cspH5TopL">货准达</span><span class="cspH5TopR">客户服务平台</span></p>
                <p class="cspH5Top2">连接上游货主企业，提供自助下单、订单查看、货物在途跟踪等功能</p>
            </div>

        <div id="cspH5Pc">
            <img src="../../H5img/cspH5Top.png">
        </div>


        </div>

        

        <div id="cspH5WP">
            <div class="cspH5W1">
                在线下达询价、发货订单，替代传统的电话简讯传真下单形式。实时追踪货物位置信息，使得物流业务流程全程透明化，更加安全、高效！
                财务报表替代了传统的人工对账模式，对账报表一键导出，方便可靠。数据分析帮助货主企业有效管控物流成本。
            </div>
            <div class="cspH5W2">
                支持询价单/发货单状态实时查询
            </div>

            <div class="cspH5P1">
                <div class="cspH5Pic">
                    <div class="cspH5P11">
                        <div class="cspH5P12">
                            <img src="../../H5img/cspIcon1.png">
                        </div>
                        <p class="cspH5P13">询价</p>
                    </div>

                    <div class="cspH5P21">
                        <div class="cspH5P12">
                            <img src="../../H5img/cspIcon2.png">
                        </div>
                        <p class="cspH5P13">发货</p>
                    </div>

                    <div class="cspH5P31">
                        <div class="cspH5P12">
                            <img src="../../H5img/cspIcon3.png">
                        </div>
                        <p class="cspH5P13">统计</p>
                    </div>

                    <div class="cspH5P41">
                        <div class="cspH5P12">
                            <img src="../../H5img/cspIcon4.png">
                        </div>
                        <p class="cspH5P13">设置</p>
                    </div>

                </div>         
            </div>

            <!--车辆实时跟踪-->
            <div class="cspH5W3">
                <div>车辆实时跟踪，保障货物运输安全</div>
            </div>
            <div class="cspH5P2">
                <img src="../../H5img/cspCar.png">
            </div>

            <!--可视化分析-->
            <div class="cspH5W4">
                <div>可视化分析，有效分析物流成本</div>
            </div>
            <div class="cspH5P2">
                <img src="../../H5img/cspShu.png">
            </div>


            <div class="cspH5W5">
                想了解更多货准达信息，请关注微信公众号
            </div>
            <div  class="cspWei">
                <img src="../../H5img/cspWei.png">
            </div>
            <div class="cspWeiW">
                扫描或长按识别二维码
            </div>



        </div>


    </div>

</div>

