<div id="CooperateH5">
    <H5header></H5header>

    <div id="CooperateH5Con">
        
        <div id="CooperateH5Top">
            <div id="CooperateH5TopBg">
                <img src="../../H5img/cooperateTop.png">
            </div>
        </div>

        <div id="CooperateH5Words">
            <span class="CooperateH5WordsTit">战略合作伙伴</span>
            <div class="CooperateH5Line"></div>
            <p class="CooperateH5Words1">飓风物流创建于2004年8月，定位于第三方物流领域，以“经济、时效、服务、安全”为价值核心，致力于为客户提供高品质、高性价、高效率的专业一站式第三方物流服务。企业注册资金7108万元，为国家AAAA级物流企业，镇江市首家上市物流企业。</p>
            <p class="CooperateH5Words2">经过十余年的不懈努力和探索，自主研发建设了一站式OTO物流运营平台，通过信息化和标准化运作模式实现货物运输安全可控、运输全程监控、运输成本管控物流风险控制三大目标。飓风高体验度的物流服务赢得了国家电网、中储粮、中节能、特变电工股份、建华集团、大全集团、毅马集团、江苏沃得集团、天工集团、嘉吉饲料等多家上市公司及国内知名企业的认可，并形成了长期的战略合作关系。</p>
            <p class="CooperateH5Words2">未来五年，飓风将通过资源整合，战略联盟，模式复制，全国布点，围绕客户CSP系统、内部TMS系统、移动应用APP及结算支付平台等信息产品，实现物流资源集聚和物流交易闭环，快速发展成为重体验，强技术，轻资产，高效率一站式OTO物流平台服务商，打造中国新一代第三方物流生态圈领航者。</p>
        </div>



        <!--底部以及二维码遮盖层-->
        <div id="CooperateBottom">
            <H5bottom></H5bottom>
        </div>

    </div>

    <div is="H5Wei"></div>

</div>

