<div id="app_tms">
    <!--<header>
        <div is="conHeader"></div>
    </header>-->
    <div id="ido">
        <!--背景图片-->
        <div id="tms_top" class="wow fadeInUp animated"  data-wow-delay="0.2s" >
            <div class="tmsTop_city wow fadeInUp animated" >
                <img class="" src = "../../img/tms_top.png">
            </div>
            
        </div>


        <div id="tms_win">  
            <div id="tmsWin_center" class="wow fadeInUp animated"  data-wow-delay="0.4s">  
                <div class="tmsWin_img1">
                    <img src="../../img/tms_topPC.png">
                </div>
                <div class="tmsWin_right">
                    <div class="tmsTop_w wow fadeInUp animated" data-wow-delay="0.7s">
                        <img src="../../img/tms_topWord.png">                   
                    </div>
                    <div class="tmsTop_w2 wow fadeInUp animated" data-wow-delay="0.7s">
                        <img src="../../img/tms_topWord3.png">
                    </div>                  
                </div>

                <div class="tmsWin_rightBott wow fadeInUp animated">
                    <div class="topPh1">
                        <img data-wow-delay="0.5s" data-wow-duration="1s" src="../../img/tms_topPh1.png" >
                    </div>
                    <div class="topPh2">
                        <img  data-wow-delay="0.6s" data-wow-duration="1s" src="../../img/tms_topPh2.png">
                    </div>
                </div>
                
            </div>
        </div>

        <!--智运通（运输管理系统）-->
        <div id="tms_word">
            <div id="tms_contWord">
                <!--<div id="tms_left">-->
                    <div id="tms_text">
                        <h4 class="tms_title"> <small class="tms_tit">智运通</small>  （运输管理系统）</h4>
                        <div class="tms_txt">提供客户关系管理、询价管理、发货管理、车辆管理、财务管理等多项基础功能，额外支持LBS定位、车辆在途实时跟踪、报表导出、报表统计、分权限管理等多项个性化功能，满足物流企业一站式服务的需求。
                            数据分析帮助货主企业有效管控物流成本。
                        </div>
                    </div>
                <!--</div>-->
                <div id="tms_pic">
                    <div id="tms_icon">
                        <div class="tms_icon1 wow fadeInUp animated">
                            <a href="http://tms.jfry.cn/#/login/in" class="tms_a" data-wow-delay="0.4s">        
                            <p class="tms_iconTxt">PC版</p>     
                            </a>
                        </div>
                        <div class="lineIcon">
                                <div class="lineIcon1" style="background:#1e1e1e"></div>
                                <div class="lineIcon2" style="background:#363636"></div>
                                <div class="lineIcon3" style="background:#2f2f2f"></div>
                        </div>

                        <div class="tms_icon1 wow fadeInUp animated" data-wow-delay="0.5s">
                            <a class="tms_b">  
                                <p class="tms_iconTxtB">iPhone版</p>
                                <div class="weixin" >
                                    <img src="../../img/tms_zhi.png" width="130" height="130" />
                                </div>       
                            </a> 
                        </div>   
                        
                        <div class="lineIcon">
                                <div class="lineIcon1" style="background:#1e1e1e"></div>
                                <div class="lineIcon2" style="background:#363636"></div>
                                <div class="lineIcon3" style="background:#2f2f2f"></div>
                        </div>
                        
                        <div class="lineIcon"></div>
                        
                        <div class="tms_icon1 wow fadeInUp animated" data-wow-delay="0.6s">
                            <a class="tms_c">
                                <p class="tms_iconTxtC">Android版</p>
                                <div class="weixin2">
                                    <img src="../../img/tms_zhi.png" width="130" height="130" />
                                </div> 
                            </a>
                        </div>  
                        
                        
                    </div>
                    
                </div>
            </div>
        </div>

        <!--容纳多家物流公司同时使用-->
        <div id="tms_content">
            <div id="tms_picW">
                <div id="tms_cont" >
                    <p class="tms_titleW wow fadeInUp animated" data-wow-delay="1.1s">容纳多家物流公司同时使用</p>
                </div>

                <div id="tms_pics">
                    <div id="tms_leftPic">
                        <div class="tms_leftW wow fadeInUp animated" data-wow-delay="0.5s" data-wow-offset="150">智运通支持多家物流企业同时使用，各物流企业账户之间封闭独立，互不干扰。权限设置人性化，物流企业可自主控制。</div>
                    </div>

                    <!--data-wow-offset="10" 距离可视区域多少开始执行动画(浏览器底部)   data-wow-iteration="10"  动画重复播放的次数-->
                    <div class="tms_rightWind wow fadeInUp animated" data-wow-delay="0.2s" data-wow-offset="90"><div id="tms_rightPic"></div></div>
                    <div class="tms_centerWind wow fadeInUp animated" data-wow-delay="0.4s" data-wow-offset="100"><div id="tms_centerPicW" ></div></div>
                </div>

                <!--实现车辆资源的共享-->
                <div id="tms_car">
                    <div class="tmsCar_title"><div class="wow fadeInUp animated" data-wow-delay="0.2s" data-wow-offset="50">实现车辆资源的共享</div></div>
                        <p class="tmsCar_tit wow fadeInUp animated" data-wow-delay="0.3s" data-wow-offset="70">智云通平台集聚物流企业货物资源，不断吸引车辆注册使用来货拉，在来货拉平台内积淀车辆资源，产生规模共享经济效益。</p> 
                </div>
                <div id="tmsCar_pic">
                    <div id="tmsCar_picL" class=" wow fadeInUp animated" data-wow-delay="0.5s" data-wow-offset="110">
                        <img class="tmsCar3"  src="../../img/tms_car3.png">
                        <div id="tmsCarL" class="wow fadeInUp animated" data-wow-delay="0.4s" data-wow-offset="130"><img src="../../img/tms_car4.png"></div>
                    </div>
                    <div class="tmsCar_picRight wow fadeInUp animated" data-wow-delay="0.3s" data-wow-offset="100" >
                        <div id="tmsCar_picR"></div>
                    </div>
                </div>

                <div id="tmsCar_ph">
                    <div class="tmsCar_phon wow fadeInUp animated" data-wow-delay="0.4s" data-wow-offset="100">
                        <img class="tmsCar_phone"  src="../../img/tmsCar_ph.png" width="850">
                    </div>
                </div>

                <!--建立诚信机制-->
                <div id="tmsEvaluate">
                    <div class="tmsEvaluate_title"><div class="wow fadeInUp animated" data-wow-delay="0.3s" data-wow-offset="50">建立诚信机制</div></div>
                    <p class="tmsCar_tit wow fadeInUp animated" data-wow-delay="0.4s" data-wow-offset="70">基于真实订单的评价数据，沉淀成为平台内每个司机的诚信档案，可作为物流企业选择车辆的判断依据</p>
                </div>
                <div id="tmsEvaluate_pics">
                    <div class="tmsEvaluate_pict wow fadeInUp animated" data-wow-delay="0.4s" data-wow-offset="100">
                        <div id="tmsEvaluate_pic"></div>
                    </div>
                </div>

                <!--实现线上支付-->
                <div id="tmsPay">
                    <div class="tmsPay_text">
                        <div class="tmsPay_title"><div class="wow fadeInUp animated" data-wow-delay="0.3s" data-wow-offset="60">实现线上支付</div></div>
                        <p class="tmsPay_tit wow fadeInUp animated" data-wow-delay="0.4s" data-wow-offset="60">在线支付功能通过点击支付按钮实现物流企业对承运司机费用的快速支付，改变传统人工打款模式，更快更安全。</p>
                    </div>
                    <div class="tmsPayBJ wow fadeInUp animated" data-wow-delay="0.5s" data-wow-offset="60">
                        <div id="tmsPay_pics">
                            <div class="tmsPay_pic1 wow fadeInUp animated" data-wow-delay="0.2s" data-wow-offset="80">
                                <img class="tmsPay_pic"  src="../../img/tmsPay_pic1.png">
                            </div>
                            <div class="tmsPay_pic2 wow fadeInUp animated" data-wow-delay="0.4s" data-wow-offset="150" >
                                <img class="tmsPay_pic22" src="../../img/tmsPay_pic2.png">
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!--货物在途跟踪，车辆实时定位-->
                <div id="tmsLocation">
                    <div class="tmsLocation_text">
                        <div class="tmsLocation_title"><div class="wow fadeInUp animated" data-wow-delay="0.2s" data-wow-offset="20">货物在途跟踪，车辆实时定位</div></div>
                        <p class="tmsLocation_tit wow fadeInUp animated" data-wow-delay="0.3s" data-wow-offset="30">LBS，北斗，GPS三重定位保障运输全程车辆定位的可视化。</p>
                    </div>
                    <div id="tmsLocation_pic" class="wow fadeInUp animated" data-wow-delay="0.4s" data-wow-offset="80">
                        <img src="../../img/tmsLocation.png">
                    </div>
                </div>


                <!--提供报表分析-->
                <div id="tmsReport">
                    <div class="tmsReport_text">
                        <div class="tmsLocation_title"><div class="wow fadeInUp animated"  data-wow-delay="0.3s" data-wow-offset="10">提供报表分析</div></div>
                        <div class="tmsLocation_tit">
                            <div class="wow fadeInUp animated" data-wow-delay="0.3s" data-wow-offset="20">
                                智运通新增了对财务数据、流程时间节点数据的分析，进一步帮助物流企业规范化内部流程，分析内部运作成本与效率，对员工绩效考核也有一定帮助。
                            </div>
                        </div>
                    </div>

                    <div id="tmsReport_pic">
                        <div id="tmsReport_picL" class="wow fadeInUp animated" data-wow-delay="0.4s" data-wow-offset="100">
                            <img  src="../../img/tmsReport_pic1.png">
                        </div>
                        <div id="tmsReport_picR" class="wow fadeInUp animated" data-wow-delay="0.5s" data-wow-offset="100">
                            <img src="../../img/tmsReport_pic2.png">
                            <div id="tmsReport_picR2" class="wow fadeInUp animated" data-wow-delay="0.4s" data-wow-offset="5" >
                                <img src="../../img/tmsReport_pic3.png">
                            </div>
                        </div>
                    </div>

                    <div class="tmsReport_footw wow fadeInUp animated" data-wow-delay="0.3s">
                        <div id="tmsReport_foot">
                            <div id="tmsReport_foot1" class="wow fadeInUp animated" data-wow-delay="0.3s" data-wow-offset="32"><img src="../../img/tmsReport_foot1.png"></div>
                            <div id="tmsReport_foot2" class="wow fadeInUp animated" data-wow-delay="0.35s" data-wow-offset="32"><img src="../../img/tmsReport_foot2.png"></div>
                            <div id="tmsReport_foot3" class="wow fadeInUp animated" data-wow-delay="0.4s" data-wow-offset="32"><img src="../../img/tmsReport_foot3.png"></div>
                            <div id="tmsReport_foot4" class="wow fadeInUp animated" data-wow-delay="0.45s" data-wow-offset="32"><img src="../../img/tmsReport_foot4.png"></div>
                            <div id="tmsReport_foot5" class="wow fadeInUp animated" data-wow-delay="0.5s" data-wow-offset="32"><img src="../../img/tmsReport_foot5.png"></div>
                            <div id="tmsReport_foot6" class="wow fadeInUp animated" data-wow-delay="0.55s" data-wow-offset="32"><img src="../../img/tmsReport_foot6.png"></div>
                            <div id="tmsReport_foot7" class="wow fadeInUp animated" data-wow-delay="0.6s" data-wow-offset="32"><img src="../../img/tmsReport_foot7.png"></div>
                        </div>              
                        <!--<div>-->
                    </div>
                        

                    <div id="tmsReport_footer">
                        *(以上有关手机界面截图为来货拉手机客户端界面)
                    </div>
                </div>

                    <!--智运通APP-->
                    <!--<div id="tmsApp">
                        <div id="tmsApp_text">
                            <div class="tmsApp_title"><div class="wow fadeInUp animated" data-wow-delay="0.3s" data-wow-offset="10">智运通APP</div></div>
                            <p class="tmsApp_tit wow fadeInUp animated" data-wow-delay="0.4s" data-wow-offset="10">让您轻轻松松，移动办公！</p>
                        </div>
                        <div id="myCarousel" class="carousel slide">
                            <div id="tmsApp_left" class="wow fadeInUp animated" data-wow-delay="0.4s" data-wow-offset="40">
                                <div class="tmsApp_L carousel-inner" >
                                    <div class="item active" ><img src="../../img/tmsApp_phone.png"></div>
                                    <div class="item"><img src="../../img/tmsApp_phone2.png"></div>
                                    <div class="item"><img src="../../img/tmsApp_phone3.png"></div>
                                    <div class="item"><img src="../../img/tmsApp_phone4.png"></div>     
                                </div>
                            </div>
                            <div id="tmsApp_right" class="wow fadeInUp animated" data-wow-delay="0.5s"  data-wow-offset="10">
                                <div class="tmsApp_rightBJ">
                                    <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active slid1"></li>
                                        <li data-target="#myCarousel" data-slide-to="1" class="slid2"></li>
                                        <li data-target="#myCarousel" data-slide-to="2" class="slid3"></li>
                                        <li data-target="#myCarousel" data-slide-to="3" class="slid4"></li>
                                    </ol>
                                    <a class="carousel-control left"   href="#myCarousel" data-slide="prev"><img src="../../img/tmsApp-left.png"></a>
                                    <a class="carousel-control right"  href="#myCarousel" data-slide="next"><img src="../../img/tmsApp-right.png"></a>
                                </div>
                            </div>
            
                        </div>
                    </div>-->

                    <!--<div id="iSlider-wrapper"></div>import '../../../node_modules/islider.js/build/islider.min.js';-->

                    <div id="tmsApp">
                        <div id="tmsApp_text">
                            <div class="tmsApp_title"><div class="wow fadeInUp animated" data-wow-delay="0.3s" data-wow-offset="10">智运通APP</div></div>
                            <p class="tmsApp_tit wow fadeInUp animated" data-wow-delay="0.4s" data-wow-offset="10">让您轻轻松松，移动办公！</p>
                        </div>
                        <div id="myCarousel" class="carousel slide">
                            <div id="tmsApp_left" class="wow fadeInUp animated" data-wow-delay="0.4s" data-wow-offset="40">
                                <div class="tmsApp_L carousel-inner" >
                                    <div class="item active" ><img src="../../img/tmsApp_phone.png"></div>
                                    <div class="item"><img src="../../img/tmsApp_phone2.png"></div>
                                    <div class="item"><img src="../../img/tmsApp_phone3.png"></div>
                                    <div class="item"><img src="../../img/tmsApp_phone4.png"></div>     
                                </div>
                            </div>
                            <div id="tmsApp_right" class="wow fadeInUp animated" data-wow-delay="0.5s"  data-wow-offset="10">
                                <div class="tmsApp_rightBJ">
                                    <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active slid1"></li>
                                        <li data-target="#myCarousel" data-slide-to="1" class="slid2"></li>
                                        <li data-target="#myCarousel" data-slide-to="2" class="slid3"></li>
                                        <li data-target="#myCarousel" data-slide-to="3" class="slid4"></li>
                                    </ol>
                                    <a class="carousel-control left"   href="#myCarousel" data-slide="prev"><img src="../../img/tmsApp-left.png"></a>
                                    <a class="carousel-control right"  href="#myCarousel" data-slide="next"><img src="../../img/tmsApp-right.png"></a>
                                </div>
                            </div>
            
                        </div>
                    </div>

                    <div id="tms_footer"></div>
                    
            </div>

        </div>

        <div class="tms_bottom">
            <bottom></bottom>
        </div>

        </div>
            
    </div>
</div>


