<div class="bottom">
    <div class="bottom-section1">
        <div id="bottom-buju1">
            <div class="bottom-section1-text1">
                <div>
                    <img class="bottom-logo" src="../../img/logo-di.png" >
                </div>
                <span>
                    <img class="bottom-haoma" src="../../img/haoma.png">
                </span>
                <p>
                    (免费客服热线)
                </p>
            </div>

            <div class="bottom-section1-text2">
                <div class="bottom-section1-text2-float0">
                        Links
                </div>
                <div id="textli" class="bottom-section1-text2-float1">
                        <div class="bottom-section1-text2-float1-text">
                            <router-link id="link1" class="bottomLink" to="/csp"><div id="icon1" class="liIcon"></div>货准达</router-link>
                        </div>
                        <div class="bottom-section1-text2-float1-text">
                            <router-link id="link2" class="bottomLink" to="/tms"><div id="icon2" class="liIcon"></div>智运通</router-link>
                        </div>
                        <div class="bottom-section1-text2-float1-text">
                            <router-link id="link3" class="bottomLink" to="/ccp"><div id="icon3" class="liIcon"></div>来货拉</router-link>
                        </div>
                    </ul>
                </div>
            </div>

            
            
            <div class="bottom-section1-text3">
                <div class="bottom-section1-text3-float0">
                    <span>
                        联系我们
                    </span>
                </div>
                <div class="bottom-section1-text3-float1">
                    <img src="../../img/dizhi.png" >
                </div>
                <div class="bottom-section1-text3-float2">
                    <p>镇江市京口区丁卯经十二路智慧大道468号</p>
                    <p>科技研发双子楼A座5楼507-510室</p>
                </div>
                <div class="bottom-section1-text3-float3">
                    <a class="bottom-section1-text3-img1" @click="openWeChat"></a>
                    <a class="emailIcon"  @click="openEmail"></a>
                    <!--href="mailto:hr@vip56.com"-->
                </div>
            </div>
        </div>
    </div>
    
    <div class="bottom-section2">
        <div id="bottom-buju2">
                <div class="bottom-section2-text-1">
                    <span>
                        版权所有：江苏斯诺物联科技有限公司苏IPC备13054122号
                    </span>
                </div>
                <div class="bottom-section2-text-2">
                    <p>
                        <router-link to="/about">&nbsp;关于我们 &nbsp;</router-link>|
                        <a  @click="changeC"> &nbsp;商务合作 &nbsp;</a>|
                        <!--to="/about"-->
                        <a  @click="changeZ"> &nbsp;人才招聘 &nbsp; </a>
                        <!--href="/about#about_job"-->
                    </p>
                </div>
        </div>
    </div>

</div>

