<div id="partner" >
    <div class="partnerK"></div>
    <div id="partner-first">
        <div class="partner-first-section">
            <div id="jfwl">
                <p>飓风物流</p>
                <span>HURRICANE LOGISTICS</span>
            </div>


            <div id="parallax">
                <div><img class="ju-4lou" id="ju_pic1" src="../../img/ju-4lou.png" ></div>
                <div><img class="ju-2che" id="ju_pic2"  src="../../img/ju-2che.png" ></div>
                <div><img class="ju-1fang" id="ju_pic3" src="../../img/ju-1fang.png"></div>
                <div><img class="ju-3lou" id="ju_pic4"  src="../../img/ju-3lou.png" ></div>
                
            </div>

        </div>
    </div>
    <div id="partner-second">
        <div id="ju-tu">
            <div class="ju-tu1b" style="opacity: 1;transform: matrix(1, 0, 0, 1, 0, 0);">
                <img src="../../img/ju-tu1a.png" >
                <p>仓储服务</p>
            </div>
                
            <div class="ju-tu2b">
                <!--<a href="#">-->
                    <img src="../../img/ju-tu2a.png" >
                <!--</a>-->
                <p>大型物件运输</p>
            </div>
            <div class="ju-tu3a">
                <!--<a href="#">-->
                    <img src="../../img/ju-tu3a.png" >
                <!--</a>-->
                <p>普通货物运输</p>
            </div>
            <div class="ju-tu4b">
                <!--<a href="#">-->
                    <img src="../../img/ju-tu4a.png" >
                <!--</a>-->
                <p>普通搬运装卸</p>
            </div>
            <div class="ju-tu5b"> 
                <!--<a href="#">-->
                    <img src="../../img/ju-tu5a.png" >
                <!--</a>  -->
                <p>停车场服务</p>
            </div>
        </div>
    </div>

   <div class="partner-third"></div>


</div>
    <!--<script src="./jquery-1.2.6.min.js"></script>
<script src="./partner_jqueryparallax.js"></script>-->