<div id="ccpH5">
    <H5header></H5header>

    <div id="ccpH5Top">
        <img src="../../H5img/ccpTop.jpg">
    </div>

    <div id="ccpH5Content">
        <div id="ccpH5Down">
            <a href="https://fir.im/laihuola" class="ccpH5Down1"><img src="../../H5img/ccpDown1.png"></a>
            <a href="https://itunes.apple.com/cn/app/来货拉/id1036130548?mt=8" class="ccpH5Down2"><img src="../../H5img/ccpDown2.png"></a>
        </div>

        <div id="ccpH5Phone">
            <p class="ccpH5PhoneTit">实名认证 才能抢单</p>
            <p class="ccpH5PhoneTit2">在线完成实名认证,人工审核、层层把关,真实货源,才能尽情抢单</p>
            <div class="ccpH5Phones">
                <div><img src="../../H5img/ccpPhone.jpg"></div>
            </div>
        </div>

        <div id="ccpH5Contract">
            <div class="ccpH5ContractW">
                “来货拉”不仅仅是一款货车司机抢单报价的APP,还为司机接单提供了电子合同、便捷签名、实时提现、真实评价等多钟功能,为广大司机提供真实而优质的服务。
            </div>

            <div id="ccpH5ContractP">
                <ul>
                    <li>
                        <div class="ccpH5ContractP1"><img src="../../H5img/ccpIcon1.png"></div>
                        <div class="ccpH5ContractP2">
                            <p class="ccpH5ContractP3">电子合同</p>
                            <p class="ccpH5ContractP4">对比纸质合同，电子合同更加快捷高效、不易丢失。</p>
                        </div>
                    </li>
                    <li>
                        <div class="ccpH5ContractP12"><img src="../../H5img/ccpIcon2.png"></div>
                        <div class="ccpH5ContractP2">
                            <p class="ccpH5ContractP3">便捷签名</p>
                            <p class="ccpH5ContractP4">手指轻轻一动，签名就完成了，方便省心！</p>
                        </div>
                    </li>
                    <li>
                        <div class="ccpH5ContractP13"><img src="../../H5img/ccpIcon3.png"></div>
                        <div class="ccpH5ContractP2">
                            <p class="ccpH5ContractP3">实时提现</p>
                            <p class="ccpH5ContractP4">费用实时提现，杜绝运费拖欠！金额、状态一目了然
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="ccpH5ContractP14"><img src="../../H5img/ccpIcon4.png"></div>
                        <div class="ccpH5ContractP2">
                            <p class="ccpH5ContractP3">真实评价</p>
                            <p class="ccpH5ContractP4">积攒好评 更好接单</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div id="ccpH5Bott">
                <div class="ccpH5W5">
                    想了解更多来货拉信息，立即下载亲自体验
                </div>
                <div  class="ccpH5Wei">
                    <img src="../../H5img/ccpWei.png">
                </div>
                <div class="ccpH5WeiW">
                    扫描或长按识别二维码
                </div>
            </div>


        </div>

    </div>

</div>

