<div id="downLoad">
    <div class="downLoads">
        <div class="download">
            <div class="downloadWords">
                <span class="downloadWords1">应用下载</span> <br/>
                <span class="downloadWords2">APPLICATION DOWNLOAD</span>
            </div>
            <div class="downl" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="../../img/csp.png" style="margin-top: 76px;">
                <p>货准达</p>
                <a href="https://csp.jfry.cn/#!/login">查看详情</a>
            </div>
            <div class="downc">
                <img src="../../img/tms.png" style="margin-top: 76px;">
                <p>智运通</p>
                <a href="https://fir.im/tmsm">立即下载</a>
            </div>
            <div class="downr">
                <img src="../../img/ccp.png" style="margin-top: 76px;">
                <p>来货拉</p>
                <a href="https://www.vip56.cn/shared.html">立即下载</a>
            </div>
        </div>
    </div>
</div>
