<div class="top">
    <div class="top-box">
        <div class="top-box-top">
            <div class="toplink">
                <div class="order"><span>订单管理</span></div>
                <div class="car"><span>车辆管理</span></div>
                <div class="transform"><span>运输调度</span></div>
                <div class="settle"><span>结算管理</span></div>
                <div class="carry"><span>承运终端</span></div>
                <div class="goods"><span>货物跟踪</span></div>
                <div class="receipt"><span>回单管理</span></div>
            </div>
            <div class="topTitle">
                <p class="title">群策群力，颠覆传统</p>
                <p class="topcontent">颠覆中小型物流企业作坊式的经营理念，做您的海量资源整合商</p>
            </div>
        </div>
     </div>
    <div class="topfoot" >
        <div class="topfoot_body">
            <router-link to="/csp">
                <a class="footleft">
                    <img src="../../img/topCSP.jpg">
                    <div class="footcontent">
                        <p>货准达客户服务平台</p>
                        <span>连接上游货主企业，提供自主下单、订单查看、货物在途跟踪等多项功能。</span>
                    </div>
                </a>
            </router-link>
            
            <router-link to="/tms">
                <a class="footcenter">
                    <img src="../../img/topTMS.jpg">
                    <div class="footcontent">
                        <p>智运通运输管理平台</p>
                        <span>内部流程全程管理、车辆资源高度整合、财务管理/数据分析、维护拓展客户网络。</span>
                    </div>
                </a>
            </router-link>

            <router-link to="/ccp">
                <a class="footright">
                    <img src="../../img/topCCP.jpg">
                    <div class="footcontent">
                        <p>来货拉车货交易APP</p>
                        <span>连接下游司机用户，订单实时推送、在线抢单竞价、在线签收提现。</span>
                    </div>
                </a>
            </router-link>
        </div>
        
    </div>
</div>
</div>
