<!--微信弹窗-->
<div id="weChat" @click="closeWeChat">
    <div id="sinoWeChat"></div>
    <div class="weChatPic">
        <div class="picwidth">
            <div class="weChatPic_content">
                <div class="wechat_pic1">
                    <img src="../../img/erweima2.png">
                </div>
                <div class="wechat_pic2">
                    <img src="../../img/erweima.png">
                </div>
                <div class="wechat_pic3">
                    <img src="../../img/feiji.png">
                </div>
            </div>
        </div>
    </div>
</div>