<div class="advantages">
    <div class="advantagesMiddle">
    <div class="ptys">
        <p> 平台优势</p>
        <span>PLATFORM ADVANTAGE</span>
    </div>
    <div class="ptys_body">
        <div id="advantages1" @click="openP(0)">
            <div id="advantages11"></div>
                <div class="advantages1_imgA"><img src="../../img/ping1a.png" class="img"></div>
                <div class="advantages1_imgB"> <img src="../../img/ping1b.png" class="img"> </div>
                <div class="advantitme2">
                    <span class="advantagestitle">闭环模式</span>
                    <p>从货主-物流公司-司机，物流，信息流，资金流全部打通，货物中转状态实时查询，账务账单结算清晰透明，管理更加高效便捷。</p>
                </div>
                <div class="advantitme21">
                    <span class="advantagestitle21">闭环模式</span>
                    <p>从货主-物流公司-司机，物流，信息流，资金流全部打通，货物中转状态实时查询，账务账单结算清晰透明，管理更加高效便捷。</p>
                </div>
        </div>
        <div id="advantages2"  @click="openP(1)">
            <div id="advantages11"></div>
                <div class="advantages1_imgA"><img src="../../img/ping2a.png" class="img"></div>
                <div class="advantages1_imgB"><img src="../../img/ping2b.png" class="img"> </div>
                
                <div class="advantitme2">
                    <span class="advantagestitle">资源共享</span>    
                    <p>平台用户共享所有车辆资源，依托车辆资源逐步实现智能化调度。</p>
                </div>
                <div class="advantitme21">
                    <span class="advantagestitle">资源共享</span>    
                    <p>平台用户共享所有车辆资源，依托车辆资源逐步实现智能化调度。</p>
                </div>
        </div>
        <div id="advantages3" @click="openP(2)">
            <div id="advantages11"></div>
                <div class="advantages1_imgA"><img src="../../img/ping3a.png" class="img"></div>
                <div class="advantages1_imgB"><img src="../../img/ping3b.png" class="img"> </div>
                
                <div class="advantitme2">
                    <span class="advantagestitle">安全可靠</span>
                    <p>车辆信息资质信息严格审查，运输全程定位追踪。采用云存储和云安全防护技术，数据加密，保障用户数据安全性。</p>
                </div>
                <div class="advantitme21">
                    <span class="advantagestitle">安全可靠</span>
                    <p>车辆信息资质信息严格审查，运输全程定位追踪。采用云存储和云安全防护技术，数据加密，保障用户数据安全性。</p>
                </div>
        </div>
    </div>

    </div>
    
    
</div>

