<div class="aboutus">
    <!--<header>
        <admin-header></admin-header>
    </header>-->

    <!--<div class="about_top_btn">
        <button @click="top_to_left"><<</button>
        <button @click="top_to_right">>></button>
    </div>-->
    <div class="about-section1">

        <div class="aboutTop">
            <div class="el-row  about_top_container">
                <div class="about_top_ele_box box-1">
                    <div class="about_top_element about_top_element-1">

                        <el-col :span="12">
                            <div class="about_top1">
                                <p class="about_title">创新物流运输方式</p>
                                <p class="about_tit">改变传统 高效快捷</p>
                                <router-link to="/csp" ui-sref="csp" class="aboutTop_pic1 jumpLeft">
                                    <p>货准达</p>
                                </router-link>
                                <router-link to="/tms" class="aboutTop_pic2 jumpLeft">
                                    <p>智运通</p>
                                </router-link>
                                <router-link to="/ccp" class="aboutTop_pic3 jumpLeft">
                                    <p>来货拉</p>
                                </router-link>
                            </div>
                        </el-col>

                        <el-col :span="4">
                            <div>
                                <div class="col-md-2 aboutTop_center">
                                    <img src="../../img/aboutTop_pic4.png">
                                </div>
                            </div>
                        </el-col>

                        <el-col :span="4">
                            <div class="aboutTop_right">
                                <div id="aboutTop_right1">
                                    <img src="../../img/tmsTop_right11.png">
                                    <img src="../../img/tmsTop_right1.png">
                                </div>
                                <div id="aboutTop_right2">
                                    <img class="aboutTop_right22" src="../../img/tmsTop_right22.png">
                                    <img src="../../img/tmsTop_right2.png">
                                </div>
                                <div id="aboutTop_right3">
                                    <img class="aboutTop_right33" src="../../img/tmsTop_right33.png">
                                    <img src="../../img/tmsTop_right3.png">
                                </div>
                                <div id="aboutTop_right4">
                                    <img class="aboutTop_right44" src="../../img/tmsTop_right44.png">
                                    <img src="../../img/tmsTop_right4.png">
                                </div>
                            </div>
                        </el-col>
                    </div>
                </div>

            </div>

        </div>
    </div>



    <div id="aboutCont">
        <div class="el-row" id="aboutCont_text">
            <el-col :span="8">
                <div id="aboutCont_text1">
                    <div class="aboutCont_text1_Img wow fadeInUp animated" data-wow-duration="0.2s" data-wow-offset="30">
                        <img src="../../img/aboutCont1.png">
                        <p class="aboutCont1_title wow fadeInUp animated" data-wow-duration="0.3s" data-wow-offset="40">专业技术</p>
                        <div class="aboutCont1_line wow fadeInUp animated" data-wow-duration="0.4s" data-wow-offset="45"></div>
                        <p class="aboutCont1_tit wow fadeInUp animated" data-wow-duration="0.4s" data-wow-offset="50">技术大牛加持“物流老兵”</p>
                    </div>
                </div>
                </el-col:>

                <el-col :span="8">
                    <div id="aboutCont_text2">
                        <div class="aboutCont_text1_Img wow fadeInUp animated" data-wow-duration="0.2s" data-wow-offset="30">
                            <img src="../../img/aboutCont2.png">
                            <p class="aboutCont1_title wow fadeInUp animated" data-wow-duration="0.3s" data-wow-offset="40">团队管理</p>
                            <div class="aboutCont2_line wow fadeInUp animated" data-wow-duration="0.4s" data-wow-offset="45"></div>
                            <p class="aboutCont2_tit wow fadeInUp animated" data-wow-duration="0.4s" data-wow-offset="50">精细，扁平化的团队管理模式</p>
                        </div>
                    </div>
                </el-col>

                <el-col :span="8">
                    <div id="aboutCont_text3">
                        <div class="aboutCont_text1_Img wow fadeInUp animated" data-wow-duration="0.2s" data-wow-offset="30">
                            <img src="../../img/aboutCont3.png">
                            <p class="aboutCont1_title wow fadeInUp animated" data-wow-duration="0.3s" data-wow-offset="40">创新思维</p>
                            <div class="aboutCont3_line wow fadeInUp animated" data-wow-duration="0.4s" data-wow-offset="45"></div>
                            <!--底部跳转到商务合作-->
                            <a name="aboutCenter" id="aboutCenter"></a>

                            <p class="aboutCont3_tit wow fadeInUp animated" data-wow-duration="0.4s" data-wow-offset="50">年轻有活力的团队，血液里流淌着创新</p>
                        </div>
                    </div>
                </el-col>

        </div>
    </div>



    <!--关于我们-->
    <div id="aboutCenter2">
        <div class="aboutCenter_text">
            <div class="aboutCenter_title">
                <div class="wow fadeInUp animated" data-wow-duration="0.3s" data-wow-offset="22">关于我们</div>
            </div>
            <hr style="width:60px; border-top:1px solid  #333334;" class="wow fadeInUp animated" data-wow-duration="0.4s" data-wow-offset="20" />
            <div class="aboutCenter_tet wow fadeInUp animated" data-wow-duration="0.4s" data-wow-offset="40">
                <div class="aboutCenter_txt">
                    <p>江苏斯诺物联科技有限公司成立于2013年10月，坐落于江苏镇江。目前公司以现代化AAAA级物流卓越企业丹阳飓风物流股份有限公司为依托，专业致力于物联网技术的产业化实践，立足高新技术，发展智慧应用，为企业包装全新的信息化咨询模式，打造成熟的技术型服务品牌。</p>
                    <p>公司不仅拥有一批有着信息技术背景的物流人在做精细化管理，而且创业团队非常年轻，充满激情！勇于创新，勇于改变！中国有78万家中小物流企业，我们要让大家融合在一起！一起去打造一个基于诚信的物流体系！我们的团队以拼搏实干，不断超越的热忱为客户提供供应链服务支持、诚信服务支持和信息技术支持。</p>
                    <p> 一直以来，斯诺始终秉承“物联网成就企业”的理念服务客户，成就企业的效率突破与自身的社会效益。为了迎接崭新的明天，我们如斯承诺，将全力创造辉煌！</p>
                </div>
            </div>
            <div class="aboutCenter_button">
                <div class="aboutCenterBtn">
                    <em class="about_chat wow fadeInUp animated" data-wow-duration="0.4s" data-wow-offset="10">商务洽谈</em>
                    <em class="about_chat2 wow fadeInUp animated" data-wow-duration="0.4s" data-wow-offset="10" @click="chatOpen">商务洽谈</em>
                </div>
            </div>


        </div>

        <div class="aboutOpen">
            <p class="aboutOpen_p1">商务合作电话：</p>
            <p class="aboutOpen_p2">(+86)0511-81882550</p>
            <p class="aboutOpen_p3">或者发送邮件至 <span>hr@vip56.cn</span></p>
            <p><a href="javascript:;" class="aboutOpenBtn" @click="chatClosed">OK</a></p>
        </div>
        <div class="aboutOpen2"></div>


    </div>

    <!--产品中心-->
    <div id="about_center">
        <div class="about_centerPro">
            <div class="aboutCenter_title">
                <div class="wow fadeInUp animated" data-wow-duration="0.3s" data-wow-offset="10"> 产品中心</div>
            </div>
            <hr class="wow fadeInUp animated" data-wow-duration="0.4s" data-wow-offset="20" style="width:60px; border-top:1px solid  #333334;" />
            <div class="el-row">
                <el-col :span="8">
                    <router-link to="/csp" class="aboutCenter_cont jumpRight">
                        <el-col :span="24">
                            <div class="aboutCenter_pic">
                                <div class="wow fadeInUp animated" data-wow-duration="0.5s" data-wow-offset="80"></div>
                            </div>
                        </el-col>
                        <el-col :span="24">
                            <div class="aboutCenter_tit2">
                                <div class="aboutCenter_lineT">
                                    <div class="wow fadeInUp animated" data-wow-duration="0.5s" data-wow-offset="55">货准达</div>
                                </div>
                                <div class="aboutCenter_line1 wow fadeInUp animated" data-wow-duration="0.5s" data-wow-offset="60"></div>
                                <div class="aboutCenter_txt2">
                                    <div class="aboutCenter_txt2P">
                                        <div class="wow fadeInUp animated" data-wow-duration="0.5s" data-wow-offset="65">连接上游货主企业，具有自主下单、订单查看、货物在途跟踪等多项功能</div>
                                    </div>
                                    <div class="wow fadeInUp animated" data-wow-duration="0.5s" data-wow-offset="70"><a>查看详情</a></div>
                                </div>
                            </div>
                        </el-col>
                    </router-link>
                </el-col>

                <el-col :span="8">
                    <router-link to="/tms" class="aboutCenter_cont aboutCenter_contA2 jumpRight">
                        <el-col :span="24">
                            <div class="aboutCenter_pic2">
                                <div class="wow fadeInUp animated" data-wow-duration="0.5s" data-wow-offset="80"></div>
                            </div>
                        </el-col>
                        <el-col :span="24">
                            <div class="aboutCenter_tit2">
                                <div class="aboutCenter_lineT">
                                    <div class="wow fadeInUp animated" data-wow-duration="0.5s" data-wow-offset="55">智运通</div>
                                </div>
                                <div class="aboutCenter_line1 wow fadeInUp animated" data-wow-duration="0.5s" data-wow-offset="60"></div>
                                <div class="aboutCenter_txt2">
                                    <div class="aboutCenter_txt2P">
                                        <div class="wow fadeInUp animated" data-wow-duration="0.5s" data-wow-offset="65">运输过程全程管理、车辆资源整合、财务管理与报表导出、维护、拓展客户关系网络。</div>
                                    </div>
                                    <div class="wow fadeInUp animated" data-wow-duration="0.5s" data-wow-offset="70"><a href>查看详情</a></div>

                                </div>
                            </div>
                        </el-col>
                    </router-link>
                </el-col>

                <el-col :span="8">
                    <router-link to="/ccp" class="aboutCenter_cont aboutCenter_contA3 jumpRight">
                        <el-col :span="24">
                            <div class="aboutCenter_pic3">
                                <div class="wow fadeInUp animated" data-wow-duration="0.5s" data-wow-offset="80"></div>
                            </div>
                        </el-col>
                        <el-col :span="24">
                            <div class="aboutCenter_tit2">
                                <div class="aboutCenter_lineT">
                                    <div class="wow fadeInUp animated" data-wow-duration="0.5s" data-wow-offset="55">来货拉</div>
                                </div>
                                <div class="aboutCenter_line1 wow fadeInUp animated" data-wow-duration="0.5s" data-wow-offset="60"></div>
                                <div class="aboutCenter_txt2">
                                    <div class="aboutCenter_txt2P">
                                        <div class="wow fadeInUp animated" data-wow-duration="0.5s" data-wow-offset="65">连接下游司机用户，订单实时显示、在线抢单竞价、在线签收提现。</div>
                                    </div>
                                    <div class="wow fadeInUp animated" data-wow-duration="0.5s" data-wow-offset="70"><a href>查看详情</a></div>
                                </div>
                            </div>
                        </el-col>
                    </router-link>
                </el-col>
            </div>
        </div>
    </div>

    <!--新闻中心-->
    <div id="about_news">
        <div id="aboutNews_text">
            <div class="aboutNews_title">
                <div class="wow fadeInUp animated" data-wow-duration="0.3s" data-wow-offset="10">新闻中心</div>
            </div>
            <hr class="wow fadeInUp animated" data-wow-duration="0.4s" data-wow-offset="20" width=60 />
            <div class="aboutNewsButton">
                <a v-if="newsHistoryShow" class="newsHistory wow fadeInUp animated" data-wow-duration="0.5s" data-wow-offset="30" @click="aboutNewsHistory">
                    <a href="javascript:;" class="aboutNews_up"></a>
                    <div class="triangle-up"></div>
                </a>
            </div>
            <div class="el-row" id="aboutNews_new">
                <div id="aboutNews_left">
                    <ul class="aboutNews_list">
                        <hr style="width:1px;height:100%;position:absolute;margin-left:49.75%;background-color: #fff; min-height: 370px" />


                        <li v-for="item in newsData">
                            <div class="liNews">
                                <div class="aboutNews_data">
                                    <div class="liItem">
                                        <a href="javascript:;" @click="newsClick(item)">
                                            <p class="aboutNews_year">{{item.createDateTime}}</p>
                                            <p class="aboutNews_txt">{{item.newsTitle}}</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="aboutNews_point">
                                <div class="liItem"><b></b></div>
                            </div>
                        </li>
                    </ul>

                </div>

                <!--新闻信息详情查看-->
                <div class="aboutNews_details">
                    <div class="aboutNews_detailsLeft"><img class="aboutNewsImg" v-bind:src="imgSrc">{{newsDetailData}}</div>
                    <!--<textarea rows="13" class="aboutNews_detailsRight"  style="overflow:scroll; overflow-x:hidden; height:300px;" readonly>
                            {{newsDetailData.txt}}
                    </textarea> -->
                    <div class="newArea scrollbar" v-html="newsDetailData.newsContent"></div>
                </div>
                <!--关闭新闻消息窗口-->
                <div class="content_mark" @click="newsClosed"></div>
            </div>

            <div class="aboutNewsMorebtn wow fadeInUp animated" data-wow-duration="0.7s">
                <a class="aboutNewsMore" @click="moreNews">
                    <a class="aboutNews_butt">还有更多 <div class="triangle-down" ></div></a>
                </a>
            </div>


            <!--底部的人才招聘的链接，跳转到人才招聘处-->
            <a name="about_job" id="about_job"></a>

        </div>
    </div>



    <!--人才招聘-->

    <div id="about_job2">
        <div id="about_job21">
            <div class="aboutNews_title">
                <div class="wow fadeInUp animated" data-wow-duration="0.3s" data-wow-offset="10">人才招聘</div>
            </div>
            <hr class="wow fadeInUp animated" data-wow-duration="0.4s" data-wow-offset="30" style="width:60px; border-top:1px solid  #333334;" />

            <div id="slideCont">
                <div id="slideContainer">
                    <ul class="aboutJob_List" id="sliderTV">
                        <!--<div class="col-md-3">-->
                        <li class="aboutJob_txt1 first sliderTV__item" v-for="item in recruitData">
                            <div class="aboutJob_txt1Div wow fadeInUp animated" data-wow-duration="0.5s" data-wow-offset="60">
                                <p class="aboutJob_title">{{item.recruitPost}}</p>
                                <div class="aboutJob_tit">
                                    <p class="aboutJob_tit1">岗位职责：</p>
                                    <p class="aboutJob_tit2" v-html="item.postResponsibility">{{item.postResponsibility}}</p>
                                    <p class="aboutJob_tit3">任职要求：</p>
                                    <p class="aboutJob_tit2" v-html="item.requirements">{{item.requirements}}</p>
                                    <p class="aboutJob_tit3">招聘人数：{{item.recruitNum}}</p>
                                </div>
                            </div>
                        </li>
                        <!--</div>-->



                    </ul>
                </div>
            </div>


            <div class="btnContainer  wow fadeInUp animated" data-wow-duration="0.5s" data-wow-offset="80">
                <button v-if="prevShow" class="sliderTV__prev" @click="prev"><img src="../../img/aboutJobLeft.png"></button>
                <button v-else><img src="../../img/aboutJobLeftDis.png"></button>
                <button v-if="nextShow" class="sliderTV__next" @click="next"><img src="../../img/aboutJobRight.png"></button>
                <button v-else><img src="../../img/aboutJobRightDis.png"></button>
            </div>

        </div>
    </div>






    <!--联系我们-->
    <div id="about_contact">
        <div class="aboutNews_title">
            <div class="wow fadeInUp animated" data-wow-duration="0.3s" data-wow-offset="10">联系我们</div>
        </div>
        <hr class="wow fadeInUp animated" data-wow-duration="0.4s" data-wow-offset="20" style="width:60px; border-top:1px solid  #333334;" />
        <div id="aboutContact_cont">
            <div class="aboutContact_cont1 wow fadeInUp animated">
                <a>
                    <div class="aboutContact_top1">
                        <div class="aboutContact_top1Img wow fadeInUp animated" data-wow-duration="0.3s" data-wow-offset="20"><img src="../../img/aboutCon_ad.png"></div>
                        <div class="aboutContact_top2">
                            <div class="wow fadeInUp animated" data-wow-duration="0.4s" data-wow-offset="30">公司地址</div>
                        </div>
                        <div class="aboutContact_line1 wow fadeInUp animated" data-wow-duration="0.5s" data-wow-offset="30"></div>
                    </div>
                    <div id="aboutContact_bott1">
                        <div class="wow fadeInUp animated" data-wow-duration="0.6s" data-wow-offset="50">
                            镇江市京口区丁卯经十二路智慧大道468号科技研发双子楼A座5楼507-510室
                        </div>
                    </div>
                </a>
            </div>

            <!--<div class="col-md-1"></div>-->

            <div class="aboutContact_cont22 wow fadeInUp animated">
                <a>
                    <div class="aboutContact_top1">
                        <div class="aboutContact_top1Img wow fadeInUp animated" data-wow-duration="0.3s" data-wow-offset="10"><img src="../../img/aboutCon_tcl.png"></div>
                        <div class="aboutContact_top2">
                            <div class="wow fadeInUp animated" data-wow-duration="0.4s" data-wow-offset="30">联系电话</div>
                        </div>
                        <div class="aboutContact_line1 wow fadeInUp animated" data-wow-duration="0.5s" data-wow-offset="30"></div>
                    </div>
                    <div id="aboutContact_bott2">
                        <div class="wow fadeInUp animated" data-wow-duration="0.6s" data-wow-offset="50">
                            <p>0511-81882550 &nbsp; 4008-616-856</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="aboutContact_cont22 wow fadeInUp animated">
                <a class="aboutContact_cont22A">
                    <div class="aboutContact_top1">
                        <div class="aboutContact_top1Img wow fadeInUp animated" data-wow-duration="0.3s" data-wow-offset="10"><img src="../../img/aboutCon_email.png"></div>
                        <div class="aboutContact_top2">
                            <div class="wow fadeInUp animated" data-wow-duration="0.4s" data-wow-offset="30">电子邮件</div>
                        </div>
                        <div class="aboutContact_line1 wow fadeInUp animated" data-wow-duration="0.5s" data-wow-offset="30"></div>
                    </div>
                    <div id="aboutContact_bott2">
                        <div class="wow fadeInUp animated" data-wow-duration="0.6s" data-wow-offset="50">
                            hr@vip56.cn
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>


    <div class="about_bottom">
        <bottom></bottom>
    </div>

</div>