<div id="contactAdmin">
    <div class="ad-panel">
        <div class="ad-panel-heading">联系我们</div>
        <div class="ad-panel-body">
            <div class="ad-query">
                <el-row>
                    <el-col :span="2"><span>联系人:</span></el-col>
                    <el-col :span="3"><el-input class="ad-input" v-model="name" placeholder="请输入联系人"></el-input></el-col>

                    <el-col :span="2"><span>联系电话:</span></el-col>
                    <el-col :span="3"><el-input class="ad-input" v-model="phone" placeholder="请输入联系电话"></el-input></el-col>

                    <el-col :span="2"><span>起始时间:</span></el-col>
                    <el-col :span="3">
                        <el-date-picker v-model="startTime" type="datetime" placeholder="请选择起始时间"></el-date-picker>
                    </el-col>
               
                    <el-col :span="2"><span>结束时间:</span></el-col>
                    <el-col :span="3">
                        <el-date-picker v-model="endTime" type="datetime" placeholder="选择结束时间"></el-date-picker>
                    </el-col>

                    <el-col :span="1"><span></span></el-col>
                    <el-col :span="1">
                        <el-button  size="small" class="ad-btn-small" @click="query" ><i v-if="!querying" class="el-icon-search"></i><i v-if="querying" class="el-icon-loading"></i>查询</el-button>
                    </el-col>
                </el-row>
               
            </div>
            
        </div>
    </div>

     <div class="ad-panel">
        <div class="ad-panel-heading">联系我们列表</div>
        <div class="ad-panel-body">
            <template>
                <el-table :data="tableData"  border style="width: 100%">
                    <el-table-column prop="index" label="序号" ></el-table-column>
                    <!--width="180" 没放el-table标签中-->
                    <el-table-column prop="contactsPerson" label="联系人" ></el-table-column>
                    <el-table-column prop="corporateName" label="公司名称" ></el-table-column>
                    <el-table-column prop="contactsTelephone" label="联系电话"></el-table-column>
                    <el-table-column prop="createDateTime" label="日期"></el-table-column>
                    <el-table-column prop="operation" label="操作">
                        <template scope="scope">
                                <i class="el-icon-edit ad-cursor" @click="handleEdit( scope.row.id)" title="编辑"></i>

                                <i class="el-icon-delete ad-cursor" @click="handleDelete( scope.row.id)" title="删除"></i>
                               
                        </template>
                    </el-table-column>
                </el-table>
            </template>
            
            <div class="ad-panel-block">
                <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="curPage"
                    :page-sizes="[10,20,30,40]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
                </el-pagination>
            </div>
            
           
        </div>
     </div>    

    
    
</div>