


    <!--<header>
            <admin-header></admin-header>
        </header>-->
    <div id="home">
        

        <div class="section" id="section0">
            <tophomebg :parentIndex="index"></tophomebg>
            <tophome></tophome>
        </div>
        <div class="section" id="section1">
            <showproject></showproject>
        </div>
        <div class="section" id="section2">
            <advantages></advantages>
        </div>
        <div class="section" id="section3">
            <partner></partner>
        </div>
        <div class="section" id="section4">
            <download></download>
            <bottom></bottom>
        </div>

        <!--<div id="topcontrol" style="z-index:1000"></div>-->


    </div>

