<div id="showproject">
    <div class="showprojectWords">
        <small class="showprojectWords1"> 项目展示</small><br/>
        <div class="showprojectWords2">PROJECT DISPLAY</div>
    </div>

<div id="showprojectCon">

    <!--智运通 电脑-->
    <div id="tms-pc">
        <div id="tms-pcL">
            <!--<div class="none-border1"></div>-->
            <svg class="none-border1" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <path d="M 305 0 l -305 0 l 0 130"></path>
                <!-- 引用预定义的marker -->
                <!--<line class="link" marker-end="url(#arrow)" x1="0" y1="0" x2="80" y2="80" style="fill:red;stroke:black;stroke-width:5;opacity:0.5"></line>-->
            </svg>

            <div id="spborder1" class="none-border1"></div>

            <div id="arrow-a" class="arrow jiantou">
                <img src="../../img/showjian1.png">
            </div>

        </div>


        <div id="tms-pcC">
            <router-link to="/tms"><div class="tms-pic"><img src="../../img/zyt-pc.png" ></div></router-link>
            <p>智运通</p>
            <p class="tms-pcCW">智能运输管理平台</p>
        </div>

        <div id="tms-pcR">
            <svg class="none-border2" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <path d="M 0 0 l 240 0 l 0 125"></path>
            </svg>
            <div id="spborder2" class="none-border2" style="height:125px !important"></div>

            <div id="arrow-c" class="arrow jiantou">
                <img src="../../img/showjian1.png">
            </div>
        </div>
        
    </div>


    <!--<div class="none-border2"></div>-->
    <!--货准达-->    
    <div id="csp-pc">
        <div id="csp-pcL">
            <router-link to="/csp"><div class="csp-pic"><img src="../../img/csp-pc.png" ></div></router-link>
            <p>货准达</p>
            <p class="tms-pcCW">客户服务服务平台</p>
        </div>


        <div id="csp-pcC">
            <div id="csp-pcCU">
                <div id="csp-pcCL">
                    <svg class="none-border3" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path id="border3" d="M 0 110 l 310 0" fill="none" stroke="#4993e5" stroke-width="10px"></path>
                    </svg>
                    <div id="spborder3" class="none-border3"></div>
                </div>

                <div id="csp-pcCC">
                    <svg class="none-border4" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path id="border4" d="M 320 110 l -320 0" fill="none" stroke="#4993e5" stroke-width="10px"></path>
                    </svg>
                    <div id="spborder4" class="none-border4"></div>
                </div>

                <div id="csp-pcCR">
                    <svg class="none-border5" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M 0 107 l 0 -107" fill="none" stroke="#4993e5" stroke-width="10px"></path>
                    </svg>
                    <div id="spborder5" class="none-border5"></div>

                    <div id="pre" class="jiantou"> 
                        <img src="../../img/showjian2.png">
                    </div>
                </div>  

            </div>
            

            <div class="down-text">
                通过三大系统有效地将货主、物流公司、司机联系在一起，提供完整的闭环服务
            </div>
        </div>

        <div id="csp-pcR">
            <!--来货拉-->
            <div id="lhl-sj">
                <router-link to="/ccp"><div class="ccp-pic"><img src="../../img/lhl-sj.png" ></div></router-link>
                <p>来货拉</p>
                <p class="tms-pcCW">高效车货交易APP</p>
            </div>
        </div>

    </div>



</div>

</div>