<div class="app_ccp">

    <div id="ccp">
        <div class="ccpbody">
            <div class="ccptop">
                <div class="ccptopc">
                    <div id="ccptopl" class=" wow fadeInLeft animated"  data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="ccptopl"></div>
                    </div>
                    <div id="ccptopr" class="wow fadeInRight animated"  data-wow-duration="1s" data-wow-delay="0.3s">
                        <div class="ccptopr">
                            <p>来货拉，有货快来拉!</p>
                            <div class="top2">
                                <img src="../../img/ccptop_06.png">
                            </div>
                            <div class="top3">
                                <img src="../../img/ccptop_09.png">
                            </div>
                            <div class="top4">
                                <section id="topjt" class="ccpjt">
                                    <a href="#"><span></span></a>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ccpcontent">
                <div class="ctop">
                    <div class="ctopleft">
                        <div class="lft">
                            <p>来货拉</p><span>（高效车货交易平台）</span>
                        </div>
                        <div class="lfc">
                            <p>“来货拉”不仅仅是一款货车司机抢单报价的APP，还为司机提供了在线上传回单、在线签收、实时提现等多种便捷功能，为广大司机提供优质的服务。</p>
                        </div>
                    </div>
                    <div class="ccp_topright">
                        <div class="ccp_icon">
                            <div class="ccp_icon1 wow fadeInUp animated" data-wow-delay="0.4s">
                                <a class="ccp_iphone">
                                    <p>iPhone版</p>
                                    <div class="weixin" >
                                        <img src="../../img/ccp_er.png" width="130" height="130" />
                                    </div>
                                </a>
                            </div>
                            <div class="line">
                                <div class="line1" style="background:#1e1e1e"></div>
                                <div class="line2" style="background:#363636"></div>
                                <div class="line3" style="background:#2f2f2f"></div>
                            </div>
                            <div class="ccp_icon1 wow fadeInUp animated" data-wow-delay="0.5s">
                                <a class="ccp_android">
                                    <p>Android版</p>
                                    <div class="weixin2" >
                                        <img src="../../img/ccp_er.png" width="130" height="130" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ccpdetail">
                    <div class="smrz">
                        <div class="smtop">
                            <img class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.8s" src="../../img/sm1.png">
                            <img class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.9s" src="../../img/sm2.png">
                            <img class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="1s" src="../../img/sm3.png" style="margin-top:6px;">
                            <img class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="1.1s" src="../../img/sm5.png" style="margin-top:6px;">
                        </div>
                        <div class="smcontent">
                            <p class="font1 wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.2s">实名认证</p>
                            <p class="font2 wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.3s">在线完成实名认证</p>
                            <p class="font3 wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.4s">人工审核</p>
                            <p class="font3 wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.5s">层层把关</p>
                        </div>
                        <div id="smrzPic" class="wow fadeInUp animated"  data-wow-duration="1s" data-wow-delay="0.4s"  data-wow-offset="300">
                            <img class="smsj" src="../../img/sm4.png">
                        </div>
                    </div>
                    <div class="dzht">
                        <div id="dzhtPic1" class="wow fadeInUp animated"  data-wow-duration="1s" data-wow-delay="0.2s">
                            <img src="../../img/dzht1.png">
                        </div>
                        <div id="dzhtPic2" class="wow fadeInUp animated"  data-wow-duration="1s" data-wow-delay="0.6s">
                            <img class="dzht2" src="../../img/dzht2.png">
                        </div>
                        <div class="xuxian1 wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.6s"></div><span class="circle1 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s"></span>
                        
                        <div class="htdetail wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.8s">
                            <span>电子合同</span>
                            <p>对标纸质合同，电子合同更加快捷高效、不易丢失。</p>
                        </div>
                        <div class="xuxian2 wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.6s"></div><span class="circle2 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s"></span>
                        <div class="qmdetail wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.8s">
                            <span>便捷签名</span>
                            <p>手指轻轻一动，签名就完成了，方便省心！</p>
                        </div>
                    </div>
                    <div class="pay">
                        <div class="xuxian3 wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.6s"></div><span class="circle3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s"></span>
                        <div class="cash wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.8s">
                            <span>直接提现</span>
                            <p>费用实时提现，杜绝运费拖欠！</p>
                        </div>
                        <div class="xuxian4 wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.6s"></div><span class="circle4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s"></span>
                        <div class="paylist wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.8s">
                            <span>费用列表</span>
                            <p>金额、状态一目了然，再也不用担心钱到哪儿了。</p>
                        </div>
                        <div id="payPic1" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                            <img class="pay1" src="../../img/pay1.png">
                        </div>
                        <div id="payPic2" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                            <img class="pay2" src="../../img/pay2.png">
                        </div>
                        
                    </div>
                    <div class="clock">
                        <div class="clock1 wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="15">
                            <!--<img src="../../img/time_1.png">-->
                        </div>
                        <div class="clock2 wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="15">
                            <!--<img src="../../img/time_2.png">-->
                        </div>
                        <div class="clock3 wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.7s" data-wow-offset="15">
                            <!--<img src="../../img/time_3.png">-->
                        </div>
                        <div class="clock4 wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.9s" data-wow-offset="15">
                            <!--<img src="../../img/time_4.png">-->
                        </div>
                        <div class="clock5 wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="1.1s" data-wow-offset="15">
                            <!--<img src="../../img/time_5.png">-->
                        </div>
                        <div class="clock6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s" data-wow-offset="100">
                            <!--<img src="../../img/time_6.png">-->
                        </div>
                        <div class="clock7 wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="1.7s" data-wow-offset="200">
                            <!--<img src="../../img/time_7.png">-->
                        </div>
                        <div class="clock8 wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="1.9s" data-wow-offset="300">
                            <!--<img src="../../img/time_8.png">-->
                        </div>
                    </div>
                    <div class="evaluate">
                        <span class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.6s">真实评价</span>
                        <p class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.8s">积攒好评，更好接单</p>
                    </div>
                    <div class="evaluate_pic">
                        <div id="evaluate_pic1" class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.6s">
                            <div class="pic1">
                                <img src="../../img/el-sj1.png">
                            </div>
                        </div>
                        <div id="evaluate_pic2" class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.8s">
                            <div class="pic2">
                                <img src="../../img/el-sj2.png">
                            </div>
                        </div>
                        <div id="evaluate_pic3" class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="1s">
                            <div class="pic3">
                                <img src="../../img/el-sj3.png">
                            </div>
                        </div>
                    </div>
                    <div class="lamy">
                        <div id="lamyPic" class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.2s">
                            <img src="../../img/lamy-sj.png">
                        </div>
                        <div class="lamydetail">
                            <span class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.4s">拉米商城</span>
                            <p class="ld1 wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.5s">拉米多多&nbsp&nbsp惊喜多多</p>
                            <p class="ld2 wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="0.6s">通过抢单、好评可以积累拉米</p>
                        </div>
                    </div>
                    <div class="ewm">
                        <div id="ewm" class="wow fadeInUp animated"  data-wow-duration="1s" data-wow-delay="0.6s">
                            <span>更多精彩</span>
                            <p>直接扫描二维码下载体验</p>
                            <img src="../../img/ccp_er.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ccp_foot">
            <bottom></bottom>
        </div>
        
    </div>
</div>
