<div id="aboutH5">
    <H5header></H5header>

    <div id="aboutH5Con">
        <div id="aboutH5Top">
            <div id="aboutH5TopBg">
                <img src="../../H5img/aboutTop.png">
            </div>
        </div>

        <div id="aboutH5Words">
            <p>
                <b>江苏斯诺物联科技有限公司</b>
                成立于2013年10月，坐落于江苏镇江。目前公司以现代化AAAA级物流卓越企业丹阳飓风物流股份有限公司为依托，专业致力于物联网技术的产业化实践，
                立足高新技术，发展智慧应用，为企业包装全新的信息化咨询模式，打造成熟的技术型服务品牌。
            </p>

            <p>公司不仅拥有一批有着信息技术背景的物流人在做精细化管理，而且创业团队非常年轻，充满激情！勇于创新，勇于改变！中国有78万家中小物流企业，我们要让大家融合在一起！
            一起去打造一个基于诚信的物流体系！我们的团队以拼搏实干，不断超越的热忱为客户提供供应链服务支持、诚信服务支持和信息技术支持。</p>

            <p>一直以来，斯诺始终秉承“物联网成就企业”的理念服务客户，成就企业的效率突破与自身的社会效益。为了迎接崭新的明天，我们如斯承诺，将全力创造辉煌！</p>

            <p class="aboutH5WordsL">如果您是一家货主企业,我们将依托服务品质让你们值得信任！<br/>
            如果您是一家物流企业,就加入我们吧,我们一起共创未来！</p>

        </div>

        <div id="aboutH5Advan">
            <b>平台优势</b>
            <ul>
                <li class="aboutH5Advan1">
                    <div class="aboutH5AdvanL">
                        <img src="../../H5img/aboutIcon2.png">
                        <p>闭环模式</p>
                    </div>
                    <div class="aboutH5AdvanR">
                        从货主-物流公司-司机,物流,信息流,资金流全部打通,货物中转状态实时查询,账务账单结算清晰透明,管理更加高效便捷。
                    </div>
                </li>


                <li class="aboutH5Advan2">
                    <div class="aboutH5AdvanL">
                        <img src="../../H5img/aboutIcon3.png">
                        <p>资源共享</p>
                    </div>
                    <div class="aboutH5AdvanR">
                        平台用户共享所有车辆资源,依托车辆资源逐步实现智能化调度。
                    </div>
                </li>


                <li class="aboutH5Advan3">
                    <div class="aboutH5AdvanL">
                        <img src="../../H5img/aboutIcon1.png">
                        <p>安全可靠</p>
                    </div>
                    <div class="aboutH5AdvanR">
                        车辆信息资质信息严格审查,运输全程定位跟踪。采用云存储和云安全防护技术,数据加密,保障用户数据安全性。
                    </div>
                </li>

            </ul>
        </div>

        <!--底部-->
        <div id="ccpBottom">
            <H5bottom></H5bottom>
        </div>

    </div>

    <!--二维码遮盖层-->
    <div is="H5Wei"></div>

</div>

