<!--弹窗-->
<div id="advantagesP">
    
    <div id="advantages_pics">
        <!--v-if="advantages_pics1"-->
        <div id="advantages_pic2"> 
            <img src="../../img/ping1.png" class="img">
        </div>
        <div id="advantages_close">
            <img class="advantages_closed" src="../../img/advantagesClosed.png" >
        </div>
    </div>


    <div id="advantages_pics2">
        <!--v-else-if="advantages_pics2" -->
        <div id="advantages_pic2"> 
            <img src="../../img/ping2.png" class="img">
        </div>
        <div id="advantages_close">
            <img class="advantages_closed" src="../../img/advantagesClosed.png">
        </div>
    </div>

    <div id="advantages_pics3">
        <!--v-else="advantages_pics3"-->
        <div id="advantages_pic2"> 
            <img src="../../img/ping3.png" class="img">
        </div>
        <div id="advantages_close">
            <img class="advantages_closed" src="../../img/advantagesClosed.png">
        </div>
    </div>

</div>

