<div id="tmsH5">
    <H5header></H5header>

    <div id="tmsH5Content">
        <div id="tmsH5Top">
            <img src="../../H5img/tmsBg.jpg">
        </div>

        <div id="tmsH5ContentBg">
            <div id="tmsH5Top2">
                <p>
                    提供客户关系管理、询价管理、发货管理、车辆管理、财务管理等基础功能，额外支持LBS定位、车辆在途实时跟踪、报表导出、分权限管理等
                多项个性化功能，满足物流企业一站式服务的需求。
                </p>
            </div>
            <div id="tmsH5Down">
                <div id="tmsH5DownC">
                    <a href="https://fir.im/tmsm"><div id="tmsH5Down1"><img src="../../H5img/tmsDown1.png"></div></a>
                    <a href="https://fir.im/tmsm"><div id="tmsH5Down2"><img src="../../H5img/tmsDown2.png"></div></a>
                </div>
            </div>
        </div>

        <div id="tmsH5Blue">
            <div class="tmsH5BlueLine1"></div>
            <ul id="tmsH5BlueWP">
                <li>
                    <div class="tmsH5BlueP1"><img src="../../H5img/tmsIcon1.png"></div>
                    <div class="tmsH5BlueW1">容纳多家物流公司同时使用</div>
                </li>
                <li>
                    <div class="tmsH5BlueP2"></div>
                    <div class="tmsH5BlueW2">
                        支持多家物流企业同时使用，各物流企业账户之间封闭独立，互不干扰。权限设置人性化，物流企业可自主控制
                    </div>
                </li>

                <li>
                    <div class="tmsH5BlueP1"><img src="../../H5img/tmsIcon2.png"></div>
                    <div class="tmsH5BlueW1">实现车辆资源的共享</div>
                </li>
                <li>
                    <div class="tmsH5BlueP2"></div>
                    <div class="tmsH5BlueW2">
                        智云通平台集聚物流企业货物资源，不断吸引车辆注册使用来货拉，在来货拉平台内积淀车辆资源，产生规模共享经济效益。
                    </div>
                </li>

                <li>
                    <div class="tmsH5BlueP1"><img src="../../H5img/tmsIcon3.png"></div>
                    <div class="tmsH5BlueW1">建立诚信机制</div>
                </li>
                <li>
                    <div class="tmsH5BlueP2"></div>
                    <div class="tmsH5BlueW2">
                        基于真实订单的评价数据，沉淀成为平台内每个司机的诚信档案，可作为物流企业选择车辆的判断依据。
                    </div>
                </li>

                <li>
                    <div class="tmsH5BlueP1"><img src="../../H5img/tmsIcon4.png"></div>
                    <div class="tmsH5BlueW1">实现线上支付</div>
                </li>
                <li>
                    <div class="tmsH5BlueP2"></div>
                    <div class="tmsH5BlueW2">
                        在线支付功能通过点击支付按钮实现物流企业对承运司机费用的快速支付，改变传统人工打款模式，更快更安全。
                    </div>
                </li>

                <li>
                    <div class="tmsH5BlueP1"><img src="../../H5img/tmsIcon5.png"></div>
                    <div class="tmsH5BlueW1">货物、车辆实时跟踪定位</div>
                </li>
                <li>
                    <div class="tmsH5BlueP2"></div>
                    <div class="tmsH5BlueW2">
                        LBS，北斗，GPS三重定位保障运输全程车辆位置的可视化。
                    </div>
                </li>

                <li>
                    <div class="tmsH5BlueP1"><img src="../../H5img/tmsIcon6.png"></div>
                    <div class="tmsH5BlueW1">提供报表分析</div>
                </li>
                <li class="tmsH5BlueLL">
                    <div class="tmsH5BlueP2"></div>
                    <div class="tmsH5BlueW2">
                        新增对财务数据、流程时间节点数据的分析，进一步帮助物流企业规范化内部流程，分析内部运作成本与效率，对员工绩效考核也有一定帮助。
                    </div>
                </li>

            </ul>
        </div>

        <div id="tmsH5Bott">
            <div class="tmsH5W5">
                想了解更多智云通信息，立即下载亲自体验
            </div>
            <div  class="tmsWei">
                <img src="../../H5img/tmsWei.png">
            </div>
            <div class="tmsWeiW">
                扫描或长按识别二维码
            </div>
        </div>


    </div>
</div>

